{% extends "navbar.html" %}



{%block navbar%}

<h1>Facebook Posts</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Picture</th>
        <th scope="col">Message</th>
        <th scope="col">Likes</th>
      </tr>
    </thead>
    <tbody> 
    {%for key in posts%}
      <tr>
        <td><img src={{key.full_picture}} alt="..." style="with:50px;height:50px;"></td>
        <td>{{key.message}}</td>
        <td>{{key.likes}}</td>
      </tr>
    {%endfor%}
    </tbody>
  </table>





{%endblock%}